<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest Password</title>
</head>
<body>
    <h1 class="title">KRIOVA Reset Password</h1>
    <form action="/resetPassword" method="POST" class="form">
        Email:<input type="text" name="email" placeholder="Enter your Email" required></br>
        <button type="submit">Reset</button>
    </form>
</body>
</html>