<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Kriova Login</title>
</head>
<body >
    <img src="/imgs/bg1.jpg" class="backgroundImage" alt="image">
    <h1 class="title">Welcome To Kriova Portal!</h1><br/>
    <div id="outerBox">
        <div id="innerBox">
            <a href="/login">Signin</a></br>
            <a href="/signup">SignUp</a>
        </div>
    </div>
</body>
</html>