<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kriova Login</title>
</head>
<body>
    <h1>Welcome To Kriova Portal!</h1>
    <a href="/login">Signin</a></br>
    <a href="/signup">SignUp</a>
</body>
</html>