<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <title>Kriova Login</title>
</head>
<body >
    <img src="/imgs/bg1.jpg" class="backgroundImage" alt="image">
    <h1 class="title">Welcome To Kriova Portal!</h1><br/>
    <div id="outerBox">
        <div id="innerBox">
            <a href="/login">Signin</a></br>
            <a href="/signup">SignUp</a>
        </div>
    </div>
</body>
<script>
    console.log(flash.success)
</script>
</html>