<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <title>HomePage</title>
</head>
<body>
    <img src="/imgs/bg1.jpg" class="backgroundImage" alt="image">
    <h1 class="title">Login Success</h1><br/>
</body>
</html>